<template>
  <div class="clock digital">
    {{ digital_hr }}:{{ digital_min }}:{{ digital_sec }}
  </div>
</template>

<script>
export default {
  name: "Digital-Clock",
  props: {
    date: Date,
    hr: Number,
    min: Number,
    sec: Number,
  },
  computed: {
    digital_hr: function() {
      return this.pad_number(this.hr);
    },
    digital_min: function() {
      return this.pad_number(this.min);
    },
    digital_sec: function() {
      return this.pad_number(this.sec);
    },
  },
  methods: {
    pad_number(number) {
      if (number.toString().length === 1) {
        return "0" + number;
      } else {
        return number;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.digital {
  font-size: 42px;
}
</style>
