<template>
  <div id="app">
    <analog-clock :hr="hr" :min="min" :sec="sec"></analog-clock>
    <digital-clock
      :hr="hr"
      :min="min"
      :sec="sec"
      v-if="!changeTime"
    ></digital-clock>
    <div v-if="changeTime">
      <input
        type="number"
        v-model.number="hr"
        aria-label="Hours"
        maxlength="2"
        max="12"
        class="time-input"
      />
      :
      <input
        type="number"
        v-model.number="min"
        aria-label="Minutes"
        maxlength="2"
        max="60"
        class="time-input"
      />
      :
      <input
        type="number"
        v-model.number="sec"
        aria-label="Seconds"
        maxlength="2"
        max="60"
        class="time-input"
      />
      <br />
      <span v-if="errmsg">{{ errmsg }}<br /></span>
      <button @click="newTime" aria-label="Set time">Set Time</button>
    </div>
    <button
      @click="setTime"
      :disabled="changeTime"
      v-if="!changeTime"
      aria-label="Set Time"
    >
      Change Time
    </button>
  </div>
</template>

<script>
import AnalogClock from "./components/AnalogClock.vue";
import DigitalClock from "./components/DigitalClock.vue";

export default {
  name: "App",
  components: {
    AnalogClock,
    DigitalClock,
  },
  data() {
    return {
      changeTime: false,
      hr: 0,
      min: 0,
      sec: 0,
      dateTime: Date,
      errmsg: "",
    };
  },
  computed: {
    date: {
      get: function() {
        if (!this.dateTime) {
          var date = new Date();
        } else {
          date = new Date(this.dateTime);
        }
        return date;
      },
      set: function(newDate) {
        this.dateTime = newDate;
      },
    },
  },
  created() {
    var date = new Date();
    this.hr = date.getHours();
    this.min = date.getMinutes();
    this.sec = date.getSeconds();
    this.dateTime = date;
  },
  watch: {
    dateTime() {
      const self = this;
      if (this.timer) {
        clearInterval(this.timer);
      }
      this.timer = setInterval(() => {
        self.getTime();
      }, 1000);
    },
    hr() {
      if (this.hr > 12) {
        this.errmsg = "Hours value cannot exceed 12";
        this.hr = 12;
      }
    },
    min() {
      if (this.min > 59) {
        this.errmsg = "Minutes value cannot exceed 59";
        this.min = 59;
      }
    },
    sec() {
      if (this.sec > 59) {
        this.errmsg = "Seconds value cannot exceed 59";
        this.sec = 59;
      }
    },
    errmsg() {
      const self = this;
      setTimeout(function() {
        self.errmsg = "";
      }, 4000);
    },
  },
  methods: {
    getTime: function() {
      var d = new Date(this.dateTime);
      this.hr = d.getHours();
      this.min = d.getMinutes();
      this.sec = d.getSeconds();
      this.date = d.setSeconds(d.getSeconds() + 1);
    },
    setTime: function() {
      this.changeTime = true;
      clearInterval(this.timer);
    },
    hrChange(val) {
      console.log(val);
    },
    newTime() {
      var d = new Date(this.dateTime);
      d.setSeconds(this.sec);
      d.setMinutes(this.min);
      d.setHours(this.hr);
      this.dateTime = d;
      const self = this;
      this.timer = setInterval(() => {
        self.getTime();
      }, 1000);
      this.changeTime = false;
    },
    minChange() {},
    secChange() {},
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button {
  margin: 1em;
}
input.time-input {
  max-width: 2em;
  font-size: 42px;
}
/* Layout */
.main {
  display: flex;
  padding: 2em;
  height: 90vh;
  justify-content: center;
  align-items: middle;
}
</style>
